#main-login-page{
    background-color:#ffffff;
}
#nav-bar{
    height:100% ;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#nav-bar :nth-child(1){
    color: black;
    font-family: Helvetica;
    text-decoration: none;
}

#nav-bar :nth-child(2){
    color: black;
    font-family:Helvetica;
    text-decoration: none;
}

