@font-face{
    font-family: Rozone;
    src: url(src/RozhaOne-Regular.ttf);
}

@font-face {
    font-family: helvetica-bold;
    src: url(src/Helvetica-Bold.ttf);
}

@font-face {
    font-family: Helvetica-nonbold;
    src: url(src/Helvetica.ttf);
}

body{
    background-color:black;
}
#main{
    height: 100vh;
    width: 100%;
}
#nav-bar{
    height:10vh;
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar :nth-child(1){  /* Back button */
    color:white;
    font-family: Helvetica-nonbold;
    text-decoration: none;
    font-weight: 250;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

#nav-bar :nth-child(2){ /* Create Acc button */
    color: white;
    font-family: Helvetica-nonbold;
    font-weight: 250;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

#login-cred-box{
    
    margin: auto;
    position: relative;
    left: 1%;
    top: 40%;
    height: 40vh;
    width: 40vw;
    border-color: red;
    background-color: aliceblue;
    border-radius: 10px;
    border-color: aqua;
    border: 10px;


}

#heading{
    position: absolute;
    margin: auto;
    font-family: Helvetica-bold;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 35%;
    font-size: larger;
}
