body{
    background-color: black;
}

#nav-bar{
    height:100% ;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 40px;

}

#nav-bar img{
    height: 65px;
    width: 290px;
    padding-left: 10px;
    padding-top: 10px;
}

#child-nav01{
    display: flex;
    color: white;
    gap: 29px;
    font-size: 17px;
    font-weight: 60;
    font-family: Helvetica;


}

#child-nav02{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 20px;
    padding: 10px;
    font-family: Helvetica;

}
#child-nav02>:nth-child(1){
    color: aliceblue;
    text-decoration: none;
}
/* 3  #*/
#child-nav02 button{
    padding: 12px;
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight: 850;
    height:50px;
    width: 160px;

}
#center-text{
    position: relative
}

#center-text h1{
    color: aliceblue;
    font-size: 80px;
    font-family: Helvetica;
    text-align: center;
    gap: 29px;
    display:flex;
    align-items: center;
    justify-content:center;
    line-height:30px;
    letter-spacing: 2px;
}          

#center-text span{
    background-color: #70373f;
    gap: 20px;
    border-radius: 80px;
    font-size: 30px;
    padding: 20px 20px;
    text-align: center;
}

#kathak-img{
    height: 300px;
    width: 250px;
    border-radius: 40px;
    position:absolute;
    top: 20%;
    bottom: 40%;
    left: 10%;
}

#small-business-img{
    border-radius: 40px;
    height: 300px;
    width: 450px;
    position: absolute;
    left:50%;
    
}